@charset "utf-8";

body{
    margin: 0;
}
.a11y-hidden, legend {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

/* logo */

.1